:root {
  --yellow: #F8D49A;
  --blue: #007bff;
  --black: #242d49;
  --gray: #e1e0e0b0;
  --purple: #BB67FF;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #007bff54;
}


body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

.App {
  color: var(--black);
  background: linear-gradient(
    106.37deg,
    #d9e6fc 29.63%, /* Sesuaikan warna untuk latar belakang biru */
    #c4dbff 51.55%, /* Sesuaikan warna untuk latar belakang biru */
    #aabfff 90.85% /* Sesuaikan warna untuk latar belakang biru */
  );
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

.AppGlass {
  display: grid;
  height: 97%;
  width: 97%;
  background: var(--glass);
  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 11rem auto 20rem;
  overflow: hidden;
}

.main-content {
  display: flex;
  justify-content: space-between; /* Menarik MainDash dan RightSide ke kedua sisi */
  align-items: flex-start; /* Atur posisi vertikal agar di atas */
  width: 100%;
  height: 100%; /* Pastikan konten mengisi seluruh tinggi */
}

@media screen and (max-width: 1200px) {
  .AppGlass {
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .AppGlass {
    grid-template-columns: 1fr;
  }

  .App {
    background: linear-gradient(
      106.37deg,
      #d9e6fc 29.63%, /* Sesuaikan warna untuk latar belakang biru */
      #c4dbff 51.55%, /* Sesuaikan warna untuk latar belakang biru */
      #aabfff 90.85% /* Sesuaikan warna untuk latar belakang biru */
    );
  }
}
